<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COOKFINDER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COOKFINDER</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal -->
  <ion-card *ngIf="imageReady()">
    <img #image [src]="imageUrl()" alt="Imagen seleccionada" />
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button (click)="predict()" fill="outline" color="success">
        Detectar ingredientes
      </ion-button>
    </div>
  </ion-card>

  <ion-card *ngIf="predictions.length > 0">
    <ion-card-header>
      <ion-card-title class="titulosCard textoColor">Resultados de la predicción:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngFor="let prediction of predictions" class="subTextoColor">
        {{ prediction.class }} - {{ prediction.confidence | percent }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="recipe" class="centered-card">
    <ion-card-header class="titulosCard">
      <ion-card-title class="titulosCard textoColor">La mejor receta es:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <pre class="subTextoColor">{{ recipe }}</pre>
    </ion-card-content>
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button (click)="guardarReceta()" fill="outline" color="success">
        Guardar Receta en Favoritos
      </ion-button>
    </div>
  </ion-card>

  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
