<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Como Usar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div id='logo-container'>
    <img id='logo' src='../../assets/images/logo.png' alt='logo'>
  </div>

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Contribuidores</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <div id="contribuidores">
        <p class="text-instrucciones">● Mariu Andrade</p>
        <p class="text-instrucciones">● Alexandre Icaza</p>
        <p class="text-instrucciones">● Jose Chong</p>
      </div>

    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Instrucciones</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <h1 class="titulo-instrucciones">¿Como consigo mi receta?</h1>
        <p class="text-instrucciones"><b>1.</b> Subir una imagen<br></p>
        <p class="text-instrucciones"><b>2.</b> Presionar el botón de detectar ingredientes<br></p>
        <p class="text-instrucciones"><b>3.</b> Esperar la respuesta (puede tomar de 3 a 4 minutos)<br></p>
      <br>
      <h1 class="titulo-instrucciones">¿Puedo guardar mi receta?</h1>
      <p class="text-instrucciones">Si, se puede usar el botón de guardar receta a favoritos para guardar las recetas que te gustaron <br></p>
      <br>
      <h1 class="titulo-instrucciones">¿Donde puedo ver mis recetas guardadas?</h1>
      <p class="text-instrucciones">Las recetas guardadas están en la pestaña de guardados, ahí encontrarás todas tus recetas favoritas<br></p>
      <br>

    </ion-card-content>

  </ion-card>

</ion-content>

